* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container {
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 74px;

}

.header-content {
    width: 998px;
    height: 582px;
    /* border: 2px solid red; */
    margin-top: 26px;
    margin-right: 221px;
    margin-bottom: 44px;
    margin-left: 221px;

}

.header-content img {
    width: 240.28px;
    height: 240px;
    margin-left: 378.86px;
    margin-right: 378.86px;
    margin-bottom: 32px;
}

.header-content h3 {
    width: 998px;
    height: 136px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.header-content p {
    width: 852px;
    height: 52px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 73px;
    margin-bottom: 32px;

}

.header-content button {
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 419px;
    margin-right: 419px;
}

/* Why Web Development? starts here */
.WhyWeb-container {
    width: 1140px;
    height: 1180x;
    /* border: 2px solid red; */
    margin: 0 auto;
   
}

.whyweb-content {
    width: 946px;
    height: 1233px;
    /* border: 2px solid red; */
    margin: 80px 97px;
}

.whyweb-content h1 {
    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    /* margin-top: 80px;
    margin-right: 47px;
    margin-bottom: 24px;
    margin-left: 47px; */
    margin: 80px 47px 24px 47px;
    /* border: 2px solid red; */
}

.whyweb-content p {
    width: 852px;
    height: 52px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 47px;
    margin-right: 138px;
    /* border: 2px solid red; */

}

.Importance-1 h3 {
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    /* border: 2px solid red; */
    margin-top: 48px;
    margin-left: 48px;
    margin-bottom: 16px;
}

.Importance-1 p {
    width: 468px;
    height: 52px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;

}

.Importance-1 button {
    width: 171px;
    height: 47px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 48px;

}

.Importance-1 img {
    width: 259.56px;
    height: 217.01px;
}

.importance-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Importance-2 img {
    width: 240px;
    height: 240px;
    margin-left: 48px;
    margin-top: 48px;
}

.importance2-right h3 {
    width: 477px;
    height: 72px;

    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    /* margin-left: 32px; */
}

.importance3-left h3 {
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 48px;
    margin-left: 48px;
}

.Importance-1 {
    width: 946px;
    height: 336px;
    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.inspiration {
    width: 1140px;
    height: 775px;
    /* border: 2px solid red; */
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

}

.inspiration h3 {
    width: 852px;
    height: 37px;
    /* margin-left: 140px;
margin-right: 140px; */
    /* border: 2px solid red; */
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.inspiration p {
    width: 852px;
    height: 52px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    /* border: 2px solid red; */
    margin-bottom: 100px;
}

.inspiration iframe {
    width: 1076px;
    height: 550px;
    /* border: 2px solid red; */
}

.current-target-container {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 110px;

}

img,
a {
    display: block;
}

.skills-container {
    width: 1140px;
    height: 299px;
    /* border: 2px solid red; */
    display: flex;
    gap: 24px;
}

.skill-content {
    width: 364px;
    height: 299px;
    /* border: 2px solid red; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.skill-content> img{
    width: 56px;
height: 56px;
}

.skill-content> h3{
    width: 284px;
height: 36px;
}
.skill-content > p{
    width: 284px;
    height: 52px;
    text-align: center;
}
.skill-content a{
    width: 284px;
    height: 19px;
}

.current-target-container >h3 {
    width: 852px;
    height: 37px;
    /* border: 2px solid red; */
    text-align: center;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.current-target-container> p {
    width: 852px;
    height: 52px;
    /* border: 2px solid red; */
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.Next-target-container{
    width: 1140px;
height: 866px;
/* border: 2px solid #ff0000; */
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 49px;

}
.Next-target-container > h3{
    width: 852px;
    height: 37px;
    /* border: 2px solid red; */
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.Next-target-container> p{
    width: 852px;
height: 52px;
/* border: 2px solid red; */
opacity: 0.7;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 48px;

}


.next-skill-content{
    width: 1140px;
height: 219px;
/* border: 2px solid red; */
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 40px;
display: flex;
/* justify-content: center; */
    align-items: center;
    gap: 24px;
}
.Next-Skill-container{
    
    display: flex;
    flex-direction: column;
    
    gap: 24px;
    
}
.htm-bg{
    border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);
}
.css-bg{
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);
}
.js-bg{
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);
}
.support-section-container{
   
    width: 1140px;
height: 313px;
 margin: 0 auto;
 /* border: 2px solid red; */
 padding: 48px;
 background-image: url('../assets/handshake.jpg');
 background-position: center;
 background-size: cover;
 background-color: rgba(0, 0, 0, 0.1);
 background-blend-mode: overlay;
 margin-bottom: 80px;
}
.support-section-content{
    width: 1044px;
height: 185px;

/* border: 2px solid red; */
display: flex;
flex-direction: column;
align-items: center;
}
.support-section-content>h3{
    width: 292px;
    height: 36px;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
  /* border: 2px solid red; */
}
.support-section-content>p{
    width: 606px;
    height: 52px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.feedback-containerOfsupportSection-content>input{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
padding-left: 20px;
}
.feedback-containerOfsupportSection-content>button{

    width: 120px;
height: 57px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

}
.footer-container{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    /* border: 2px solid red; */
}
.footer-content{
    width: 1140px;
height: 36px;
margin: 0 auto;
/* border: 2px solid red; */
}
.iconContainerOf-footerContent{
    display: flex;
    gap:10px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}